body{
	background-color: #FDDEFF ;
}

h1{
	font-family: Arial;
	text-align: center;
	color: #000; 
	font-family: Georgia, serif;
}

.img{
	width: 39px;
	height: 43px;
}

button{
	margin-top: 8%;
	margin-left: 24%;
	width: 130px;
	height: 45px;
	background-color: #F200F6;
	border-radius: 10px;
	text-shadow: 1px black;
	font-family: Georgia, serif;
}

#mostrador{
	margin: auto;
	margin-top: 40px;
	width: 252px;
	height: 80px; 
}

.espaco{
	width: 80px;
	height: 60px;
	border: 2px solid #000;
	float: left;
	text-align: center;
	padding-top: 20px;
}

.tabuleiro{
	width: 252px;
	height: 252px;
	margin: auto;
}
